sessions/
dist/
.dev/
node_modules/
src/accounts.json
src/config.json
/.vscode
/diagnostics
note
accounts.dev.json
accounts.main.json
.DS_Store
src/browser/sessions/
*.log
.vscode/
.github/
diagnostic/
report/
accounts.json
notes
accounts.dev.json
.DS_Store
.playwright-chromium-installed
QWEN.md
bun.lock
logs/
.stfolder/
.env
本地点击url奖励.har
网页点击url奖励.har
网页完成更多任务.har
三月指南.har
赚取界面.har
盗贼之海.html
三月指南.html
完整流程.har
新赚取界面.har
userInfo.json
